body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    margin-top: 150px;
}

p {
    font-size: 12px;
}

/* Center elements */

p.lang {
    margin: 20px;
}

.search-bar {
    border: 1px solid  rgb(196, 196, 196);
    border-radius: 50px;
    width: 600px;
    height: 25px;
    margin: 25px auto;
    padding: 10px 25px;
}

input[type=search] {
    border: none;
    float: left;
    font-size: 14px;
    width: 80%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.keyboard {
    background-color: transparent;
    background-image: url("http://www.gstatic.com/inputtools/images/tia.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
}

.speaker {
    background-color: transparent;
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
    margin-right: -10px;
}

.button {
    background-color: #F5F5F5;
    color: #636363;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px;
}