* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

section {
    text-align: center;
    margin-top: 150px;
}

p {
    font-size: 13px;
}

/* Navbar */

nav {
    position: absolute;
    font-size: 13px;
    width: 100%;
    top: 20px;
}

div.nav-container {
    float: right;
    margin-right: 20px;
}

.nav-container a {
    color: black;
    text-decoration: none;
    margin: 0 5px;
}

.nav-container a:hover {
    color: gray;
    text-decoration: underline;
}

#login {
    color: white;
    background-color: #4584F0;
    border: 1px solid rgb(61, 117, 214);
    border-radius: 2px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    vertical-align: middle;
    margin: 0 5px;
}

#menu {
    background-color: transparent;
    background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
    background-size: 528px 68px;
    border: none;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    opacity: 0.55;
    margin: 0 10px;
    cursor: pointer;
}

#menu:hover {
    opacity: 0.85;
}

/* Center elements */

p.lang {
    margin: 20px;
}

.lang a {
    text-decoration: none;
}

.lang a:hover {
    text-decoration: underline;
}

.search-bar {
    border: 1px solid  rgb(196, 196, 196);
    border-radius: 50px;
    width: 600px;
    height: 25px;
    margin: 25px auto;
    padding: 10px 25px;
}

.search-bar:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: transparent;
}

input[type=search] {
    border: none;
    float: left;
    font-size: 14px;
    width: 80%;
    padding-top: 3px;
    padding-bottom: 3px;
}

.keyboard {
    background-color: transparent;
    background-image: url("http://www.gstatic.com/inputtools/images/tia.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.speaker {
    background-color: transparent;
    background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 10px;
    margin-right: -10px;
    cursor: pointer;
}

.button {
    background-color: #F5F5F5;
    color: #636363;
    border: 1px solid transparent;
    border-radius: 5px;
    font-size: 14px;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    color: #222;
    border: 1px solid lightgray;
}

/* Footer */

.top-bar {
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    background-color: #F2F2F2;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 40px;
}

.bottom-bar {
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    background-color: #F2F2F2;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}

div.country {
    position: relative;
    float: left;
    margin-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.country p {
    font-size: 15px;
    color: #636363;
}

.information {
    margin-left: 30px;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.information a {
    font-size: 13px;
    text-decoration: none;
    color: #636363;
    margin-right: 30px;
}

.privacy-settings {
    margin-right: 30px;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.privacy-settings a {
    font-size: 13px;
    text-decoration: none;
    color: #636363;
    margin-left: 30px;
}